<div>
  <div class="row background">
    <div class="col-sm-2 p-0" style="height:120vh;  background-color: rgba(0,0,0,0.52);">
      <div class="list-group ng-dark">
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-film"></i> Bán vé </a>
        <a routerLink="/booking/managerBooking/list" class="list-group-item list-group-item-action"><i
          class="bi bi-ticket-perforated-fill"></i> Quản lí đặt vé</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-person-fill"></i> Quản lí nhân viên</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-credit-card-2-back-fill"></i> Quản lí thành viên</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-camera-reels-fill"></i> Quản lí phim</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-calendar-week-fill"></i> Quản lí khuyến mãi</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-camera-video-fill"></i> Quản lí phòng chiếu</a>
        <a href="#" class="list-group-item list-group-item-action"><i
          class="bi bi-bar-chart-line-fill"></i> Quản lí thống kê </a>
      </div>
    </div>
    <div class="col-sm-10 p-4">
      <div class="container border" style="background-color: rgba(0,0,0,0.7)">
        <h1 class="mt-4 mb-4" style="color: red;font-weight: bold">Quản lý đặt vé</h1>
        <hr style="color: white;  ">

        <form class="form-inline" method="post" [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm"
                 formControlName="key">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <br>
        <div *ngIf="message != ''" style="text-align: center"><h2 style="color: red">{{message}}</h2></div>
        <table class="table text-center table-responsive-md">
          <thead style="color: red">
          <tr>
            <th scope="col" width="auto" >STT</th>
            <th scope="col" width="auto">Mã đặt vé</th>
            <th scope="col"  hidden>booking_id</th>
            <th scope="col"width="auto">Mã thành viên</th>
            <th scope="col">Họ tên</th>
            <th scope="col"width="auto">CMND</th>
            <th scope="col"width="auto">Số điện thoại</th>
            <th scope="col"width="auto">Phim</th>
            <th scope="col"width="auto">Xuất chiếu</th>
            <th scope="col"width="auto">Nhận vé</th>
          </tr>
          </thead>
          <tbody style="color: white"  *ngIf="contents != null">
          <tr *ngFor="let content of contents , index as i">
            <td>{{(indexPagination*size)+i+1}}</td>
            <td>{{content?.booking_Code}}</td>
            <td hidden>{{content?.booking_id}}</td>
            <td>{{content?.account_Code}}</td>
            <td>{{content?.fullname}}</td>
            <td>{{content?.id_Card}}</td>
            <td>{{content?.phone}}</td>
            <td>{{content?.name}}</td>
            <td>{{content?.time_Show}}</td>
            <td>
              <button class="btn btn-outline-warning" [routerLink]="['/booking/managerBooking/detail',content.booking_id]"><i
                class="bi bi-ticket-perforated"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
        <!--    Phân trang-->
        <div class="mt-3">
          <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-md-end justify-content-center">
              <li class="page-item">
                <button class="btn btn-outline-danger" (click)="previousPage()" [disabled]="indexPagination <= 0"><i
                  class="bi bi-chevron-left"></i></button>
              </li>

              <li class="page-item col-md-1 col-2  px-0 text-center" style="line-height: 35px;color: white">
                <span>{{indexPagination + 1}}</span>/<span>{{totalPages}}</span>
              </li>

              <li class="page-item">
                <button class="btn btn-outline-danger" (click)="nextPage()" [disabled]="indexPagination >= totalPages-1"><i
                  class="bi bi-chevron-right"></i></button>
              </li>

              <span style="margin-right: 83px;" *ngIf="indexPagination == totalPages"></span>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>



