<!doctype html>
<html lang="en">

<head>
  <title>Đăng nhập</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="img js-fullheight"
      style="background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/394ec6ba-c9f1-43e7-81ce-27603aa0ab74/VN-vi-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);"
>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4" style="background-color: rgba(0,0,0,0.85);">
        <div class="login-wrap p-4">
          <h3 class="mb-4 text-center">Đăng nhập</h3>
          <form action="#" class="signin-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tài khoản" required
                     oninvalid="this.setCustomValidity('Vui lòng nhập tên tài khoản')"
                     oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
              <input id="password-field" type="password" class="form-control" placeholder="Mật khẩu"
                     required oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')"
                     oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Đăng
                nhập</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary">Remember Me
                  <input type="checkbox" disabled>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="forgot.html" style="color: #fff">Quên mật khẩu</a>
              </div>
            </div>
          </form>
          <p class="w-100 text-center">&mdash; Hoặc đăng nhập với &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
              Facebook</a>
            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>
              Google</a>
          </div>
          <p class="w-100 text-center">Bạn chưa có tài khoản?
            <a href="#" class="">Đăng ký ngay</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
