body .password-field {
  position: relative;
}

body .password-field #toggler {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list-group-item {
  background-color: rgba(0,0,0,0.57);
  color: white;
}
.list-group-item:hover {
  background-color: red;
  color: white;
}

.background {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c2578c37-8569-4f88-b8f1-67a26a9ddcdd/742c60c5-23e0-4b61-8b0e-f434c157f9e6/VN-vi-20220725-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-size: cover;
}
.text-color-red-primary {
  color: #e50914;
}

.bg-color-btn {
  background-color: #e50914;
}

.bg-color-btn:hover {
  background-color: #b80a13;
}
.form-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  color: #b3b3b3;
  margin-top: 30px;
}

.form-control {
  background-color: #2f4f4f;
  color: #fff;
  border: none;
}

.disable-input {
  background-color: #b0b0b0;
  color: #fff;
  border: none;
}

.form-control:focus {
  color: #000 !important;
  background-color: #fff;
  border-color: #80bdff;
}

.form-control-disable {
  background-color: rgb(160, 158, 158) !important;
  color: rgb(85, 85, 85);
}

.icon-update {
  position: relative;
  top: -3px;
}


form i {
  margin-left: -30px;
  cursor: pointer;
}

.hide {
  display: none;
}

.inner-addon {
  position: relative;
}
.inner-addon .far {
  position: absolute;
  padding: 10px 85px;
  z-index: 100;
  cursor: pointer;
}
.left-addon .far  { left:  0px; }
.right-addon .far { right: -19px; }

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-control,
.form-control:focus {
  color: #000 !important;
}

.eye-show,.eye-hide{
  margin: -53px
}
