<div class="footer-wrapper">
  <div class="footer">
    <div class="footer_list">
      <h3 class="footer_header">GIỚI THIỆU</h3>
      <ul class="footer_menu">
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Về chúng tôi</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Thỏa thuận sử dụng</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Quy chế hoạt động</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Chính sách bảo mật</a></li>
      </ul>
    </div>
    <div class="footer_list">
      <h3 class="footer_header">GÓC ĐIỆN ẢNH</h3>
      <ul class="footer_menu">
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Thể loại phim</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Bình luận phim</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Blog điện ảnh</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Phim hay tháng</a></li>
      </ul>
    </div>
    <div class="footer_list">
      <h3 class="footer_header">HỖ TRỢ</h3>
      <ul class="footer_menu">
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Góp ý</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Sale & Services</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Rạp/ Giá rẻ</a></li>
        <li class="footer_list-menu"> <i class="fas fa-angle-double-right"></i><a href="">Tuyển dụng</a></li>
      </ul>
    </div>
    <div class="footer_list">
      <div class="footer_netword">
        <h3 class="footer_header">KẾT NỐI GALAXY CINEMA</h3>
        <div class="footer_netword-icon">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-instagram-square"></i>
        </div>
      </div>
      <div class="footer_netword">
        <h3 class="footer_header">DOWNLOAD APP</h3>
        <div class="footer_netword-icon">
          <i class="fab fa-apple"></i>
          <i class="fab fa-google-play"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="pag"></div>
  <div class="pading">
    <div class="pag_footer">
      <div class="pading_img">
        <img src="../assets/tuan/images/logo.png" alt="">
      </div>
      <div class="pading_text">
        Trung tâm đào tạo hệ thống lập trình hiện đại, Tầng 11, Toà Nhà Đại Học Mở, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, Đà nẵng
      </div>
    </div>
  </div>
</div>
