
<div class="row background container-fluid m-0 p-0">
  <div class="col-2 p-0">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-10">
    <div class="border rounded form-wrapper">
      <h4 class="px-3 py-2 m-0 border text-color-red-primary">Thông tin đăng nhập</h4>
      <form appFocusInvalidInput #focusInput="focusInvalidInput" class="p-3" [formGroup]="form" #f="ngForm"
            (ngSubmit)="changePassword()">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold" for="member-card-input">Member card:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control form-control-disable"
                   id="member-card-input" formControlName="accountCode">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold" for="account-input">Tài khoản:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control form-control-disable"
                   id="account-input" formControlName="username">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold" for="old-password-input">Mật khẩu cũ
            <span class="text-danger">(*)</span>:
          </label>
          <div class="col-sm-9">
            <div class="position-relative">
              <input type="password" class="form-control" placeholder="Mật khẩu cũ"
                     id="old-password-input" formControlName="oldPass">
              <i class="bi bi-eye-slash icon-eye" id="toggleOldPassword"
                 (click)="togglePass('#toggleOldPassword', '#old-password-input')"></i>
            </div>

            <div class="text-danger" *ngFor="let validation of validationMessages.oldPass">
              <div class="error-message"
                   *ngIf="oldPass.hasError(validation.type) && (oldPass.dirty || oldPass.touched || f.submitted)">
                {{validation.message}}
              </div>
            </div>
            <p *ngIf="isValidOldPass == false" class="text-danger">
              Mật khẩu cũ không đúng !!!
            </p>
          </div>
        </div>

        <div formGroupName="pwGroup">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bold" for="new-password-input">Mật khẩu mới
              <span class="text-danger">(*)</span>:
            </label>
            <div class="col-sm-9">
              <div class="position-relative">
                <input type="password" class="form-control" placeholder="Mật khẩu mới"
                       id="new-password-input" formControlName="newPass">
                <i class="bi bi-eye-slash icon-eye" id="toggleNewPassword"
                   (click)="togglePass('#toggleNewPassword', '#new-password-input')"></i>
              </div>

              <div class="text-danger" *ngFor="let validation of validationMessages.newPass">
                <div class="error-message"
                     *ngIf="newPass.hasError(validation.type) && (newPass.dirty || newPass.touched || f.submitted)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bold" for="confirm-password-input">Xác nhận mật khẩu
              <span class="text-danger">(*)</span>:
            </label>
            <div class="col-sm-9">
              <div class="position-relative">
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu"
                       id="confirm-password-input" formControlName="confirmPass">
                <i class="bi bi-eye-slash icon-eye" id="toggleConfirmPassword"
                   (click)="togglePass('#toggleConfirmPassword', '#confirm-password-input')"></i>
              </div>

              <div class="text-danger" *ngFor="let validation of validationMessages.pwGroup">
                <div class="error-message"
                     *ngIf="pwGroup.hasError(validation.type) && (confirmPass.dirty || confirmPass.touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9 d-flex justify-content-end">
            <button class="btn text-white bg-color-btn mx-5" type="submit" (click)="focusInput.focus()">
              <i class="bi bi-key icon-change-password"></i>
              Đổi mật khẩu
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
